<p>Name:<%= @pirate.name %></p>
<p>Pirate Height:<%= @pirate.height%> </p>
<p>Pirate Weight:<%= @pirate.weight%> </p>

<h1>Ship Name:<%= @ships[0].name %></h1>
<p>Ship Type:<%= @ships[0].type %></p>
<p>Ship Booty:<%= @ships[0].booty %></p>

<h1>Ship Name:<%= @ships[1].name %></h1>
<p>Ship Type:<%= @ships[1].type %></p>
<p>Ship Booty:<%= @ships[1].booty %></p>
